<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>asttest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>irgentest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>irtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>lexerbuffertest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>lexertest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>llvmplayground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>lvc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>parsertest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>testaggregate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>testingbuild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5727F1A51B07EBA500A6966F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57334CE71B1078DF00085754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57334D041B12382B00085754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>573AAA071B2C3CA100E84844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5752E2C21B2320A70087DD1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5752E2D11B2487930087DD1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57ADD1151B1B67A50031EB0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57ADD11D1B1B68180031EB0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57ADD1281B1B68CF0031EB0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57CD4CB31B2C371F00EF9490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57D426B31B231D74005B5D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57D426BF1B231EEC005B5D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
